.navbar-nav {
    flex-direction: row !important;
    column-gap: 2rem; 
  }
  
  @media (width >= 600px) {
    .navbar-nav {
      column-gap: 4rem;
    }
  }
  
  @media (width >= 900px) {
    .navbar-nav {
      column-gap: 6rem; 
    }
  }
  
  @media (width >= 1200px) {
    .navbar-nav {
      column-gap: 10rem;
    } 
  }